@model BookListViewModel
@using RoyalLibrary.WEB2.Models.ViewModels

@{
    ViewData["Title"] = "Home Page";

    var page = Model.BookListPaginated.Page;
    var previousPageDisabled = page > 1 ? "" : "disabled";
    var nextPageDisabled = page < Model.BookListPaginated.TotalPages ? "" : "disabled";

    var wantRead = Context.Request.Query["WantRead"];
    var selectWantRead = wantRead == "true" ? "true" : null;
    var selectDontWantRead = wantRead == "false" ? "true" : null;
    var iSBN = Context.Request.Query["ISBN"];
}

<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <div class="row">
                    <div class="col-6 d-flex align-items-center">
                        <h6 class="mb-0">Books</h6>
                    </div>                    
                </div>
            </div>
            <div class="m-3">
                <form method="get" class="form-control mt-3">
                    <div class="row">
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <label class="control-label">Tipo de Ocorrência</label>
                            <select asp-for="searchBookDto.AuthorId" asp-items="@(new SelectList(Model.AuthorList, "Id", "Name"))"
                                    name="AuthorId" class="form-control">
                                <option selected> -- Select -- </option>
                            </select>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-2">
                            <label class="control-label">ISBN</label>
                            <input type="text" class="form-control" placeholder="Id" name="ISBN" value="@iSBN">
                        </div>                       
                        <div class="col-sm-6 col-md-4 col-lg-2">
                            <label class="control-label">Want Read</label>
                            <select name="WantRead" class="form-control">
                                <option> -- </option>
                                <option selected="@selectWantRead" value="true">Sim</option>
                                <option selected="@selectDontWantRead" value="false">Não</option>
                            </select>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-2">
                            <label class="control-label"></label>
                            <input type="submit" value="Pesquisar" class="btn btn-outline-dark form-control" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Title
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Publisher
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Authors
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Type
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    ISBN
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Category
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Available Copies
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.BookListPaginated.Result)
                            {
                                <tr>
                                    <td>
                                        <div class="d-flex px-3 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <p class="text-xs font-weight-bold mb-0">
                                                    @Html.DisplayFor(modelItem => item.Title)
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex px-3 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <p class="text-xs font-weight-bold mb-0">
                                                    @foreach (var publisher in item.PublisherList)
                                                    {
                                                        <div>
                                                            @Html.DisplayFor(modelItem => publisher.Publisher.Name)
                                                        </div>
                                                    }
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex px-3 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <p class="text-xs font-weight-bold mb-0">
                                                    @foreach (var publisher in item.AuthorList)
                                                    {
                                                        <div>
                                                            @Html.DisplayFor(modelItem => publisher.Author.Name)
                                                        </div>
                                                    }
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex px-3 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <p class="text-xs font-weight-bold mb-0">
                                                    @Html.DisplayFor(modelItem => item.Type.Name)
                                                </p>
                                            </div>
                                        </div>
                                    </td>   
                                    <td>
                                        <div class="d-flex px-3 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <p class="text-xs font-weight-bold mb-0">
                                                    @Html.DisplayFor(modelItem => item.ISBN)
                                                </p>
                                            </div>
                                        </div>
                                    </td>   
                                    <td>
                                        <div class="d-flex px-3 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <p class="text-xs font-weight-bold mb-0">
                                                    @Html.DisplayFor(modelItem => item.Category.Name)
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex px-3 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <p class="text-xs font-weight-bold mb-0">
                                                    @Html.DisplayFor(modelItem => item.CopiesInUse)/ 
                                                    @Html.DisplayFor(modelItem => item.TotalCopies)
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item @previousPageDisabled">
                    <a class="page-link" href="@Url.Action("Lista", new { Page = page - 1 })" tabindex="-1">
                        <i class="fa fa-angle-left"></i>
                    </a>
                </li>
                @for (var p = 1; p <= Model.BookListPaginated.TotalPages ; p++)
                {
                    if (page == p)
                    {
                        <li class="page-item active">
                            <a class="page-link" href="javascript:;">@p</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("", new { Page = p })">
                                @p
                            </a>
                        </li>
                    }
                }
                <li class="page-item @nextPageDisabled">
                    <a class="page-link" href="@Url.Action("", new { Page = page + 1 })">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
